<html>
    <head>
        <title>WillNeverBeFinishedBot 0.1</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./assets/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="./assets/style.css" crossorigin="anonymous">
    </head>
    <body>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">WillNeverBeFinishedBot</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" v-show="!loggedIn">
                <a class="nav-link" :href="loginLink">Login</a>
              </li>
              <li class="nav-item" v-show="loggedIn">
                <a class="nav-link" href="#" v-on:click="logout">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" v-if="isAdmin">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
          <span class="navbar-text" v-show="loggedIn">
                Der Vollpfostn {{username}} hots auf de Seitn gschofft!
          </span>
        </nav>
        
        <div class="container" style="margin-top:50px">
            <div id="fetch" class="form-horizontal" v-if="loggedIn">
                <button type="button" class="btn btn-primary" v-on:click="updateWebsite()" v-if="isAdmin">Update Website</button>
                <h1 class="control-label">Server</h1>
                <div class="input-group">
                    <select class="form-control" v-model="selectedServer" @change="fetchChannels(); saveSettings()">
                        <option v-for="server in servers" v-bind:value="server.id">
                            {{server.name}}
                        </option>
                    </select>
                    <button type="button" class="btn btn-primary col-md-2" v-on:click="updateServerList()">Update Serverlist</button>
                </div>

                <h1>Sound Upload</h1>

                <div class="form-group">
                    <label class="control-label">Create new Category</label>
                    <div class="input-group">
                        <input class="form-control col-md-10" v-model="newCatInput">
                        <button type="button" class="btn btn-primary col-md-2" id="newCat" v-on:click="createNewCat()">Create New Cat</button>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Choose sound category</label>
                    <div class="input-group">
                        <select class="form-control" v-model="selectedCategory">
                            <option v-for="category in soundCategories" v-bind:value="category.name">
                                {{category.name}}
                            </option>
                        </select>
                        <label class="btn btn-primary col-md-2 finger">
                            Browse.. <input type="file" style="display:none" id="file" ref="file" accept="audio/*" v-on:change="submitFile()"/>
                        </label>
                    </div>
                </div>
                    
                <h1>Play Sounds</h1>
                <div class="form-group ">
                    <label class="control-label">Choose Channel</label>
                    <select class="form-control" v-model="selectedChannel"  @change="saveSettings()">
                        <option v-for="channel in channels" v-bind:value="channel.id">
                            {{channel.name}}
                        </option>
                    </select>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="joinUser" v-model="joinUser" @change="saveSettings()" >
                        <label class="form-check-label" for="joinUser">
                            Join to User
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Volume</label>
                    <input class="form-control col-md-1" type="number" v-model="volume" step="0.5" :max="maxVolume"  @change="saveSettings()">
                </div>
                
                <div class="form-group">
                    <label class="control-label">Youtube URL</label>
                    <div class="input-group">
                        <input class="form-control col-md-10" v-model="youtubeUrl">
                        <button type="button" class="btn btn-primary col-md-2" v-on:click="playSound()">Play</button>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" v-on:click="stopPlaying()">Stop Playing</button>
                </div>
                <div class="form-group">
                    <label class="control-label">Search</label>
                    <input class="form-control" v-model="searchText">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" v-on:click="setCategoriesVisibility(true)">Expand all categories</button>
                    <button type="button" class="btn btn-primary" v-on:click="setCategoriesVisibility(false)">Collapse all categories</button>
                </div>
                
                <div v-for="category in soundCategories">
                    <h2 class="control-label">{{category.name}}</h2>
                    <button type="button" class="btn btn-primary" v-on:click="changeCategoryVisibility(category)" style="width: 40px; height: 40px">{{category.show ? '-' : '+'}}</button>
                    <table class="table text-break" v-show="category.show">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th style="width: 100px">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="sound in filteredSounds(category.name)">
                                <td>
                                    {{sound.name}}
                                </td>
                                <td style="width: 100px">
                                    <button type="button" class="btn btn-primary" v-on:click="playSound(sound.path)">Play</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div v-show="isAdmin">
                    <h1>Logs</h1>
                    <table class="table text-break">
                        <thead>
                            <tr>
                                <th>Timestamp</th>
                                <th>Server</th>
                                <th>Username</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="log in logs">
                                <td>
                                    {{formatTime(log.timestamp)}}
                                </td>
                                <td>
                                    {{log.serverName}}
                                </td>
                                <td>
                                    {{log.username}}
                                </td>
                                <td>
                                    {{log.message}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./index.js" type="module"></script>
        <script src="./bower_components/axios/dist/axios.min.js"></script>
    </body>
</html>