<html>
    <head>
        <title>WillNeverBeFinishedBot 0.1</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="form-horizontal">
            <div id="fetch" class="form-group">
                <label class="control-label">Choose Server</label>
                <select class="form-control col-md-2" v-model="selectedServer">
                    <option v-for="server in servers" v-bind:value="server.id">
                        {{server.name}}
                    </option>
                </select>

                <label class="control-label">Choose sound category</label>
                <select class="form-control col-md-2" v-model="selectedCategory">
                    <option v-for="category in soundCategories" v-bind:value="category">
                        {{category}}
                    </option>
                </select>

                <div class="form-group">
                    <label class="control-label">Create new Category</label>
                    <input class="form-control col-md-2" v-model="newCatInput">
                    <input type="button" class="btn btn-primary" value="Create New Cat" id="newCat" v-on:click="createNewCat()"></button>
                </div>

                <label>File Upload
                    <input type="file" id="file" ref="file" accept="audio/*" v-on:change="submitFile()"/>
                </label>

                <div class="form-group">
                    <label class="control-label">Choose Channel</label>
                    <select class="form-control col-md-2" v-model="selectedChannel">
                        <option v-for="channel in channels" v-bind:value="channel.id">
                            {{channel.name}}
                        </option>
                    </select>
                </div>
                
                <div class="form-group">
                    <label class="control-label">Volume</label>
                    <input class="form-control col-md-1" type="number" v-model="volume" step="0.5">
                </div>

                <div class="form-group col-md-6">
                    <div v-for="category in soundCategories">
                        <h1 class="control-label">{{category}}</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th style="width: 100px">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="sound in sounds[category]">
                                    <td>
                                        {{sound.name}}
                                    </td>
                                    <td style="width: 100px">
                                        <button type="button" class="btn btn-primary" v-on:click="playSound(sound.path)">Play</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./index.js" type="module"></script>
        <script src="./bower_components/axios/dist/axios.min.js"></script>
    </body>
</html>