<ng-container *ngIf="selectedServer$ | async as selectedServer">
  <ng-container *ngIf="sounds$ | async as sounds">
    <ng-container *ngIf="serverSettings$ | async as serverSettings">
      <div class="form-horizontal">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="serverIntro" [(ngModel)]="serverSettings.playIntro" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="serverIntro">
            Server Intro
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="serverMinUser" [(ngModel)]="serverSettings.minUser" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="serverMinUser">
            Zumindest ein Benutzer im Channel, damit das Intro abgespielt wird
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="playIntroWhenUnmuted" [(ngModel)]="serverSettings.playIntroWhenUnmuted" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="playIntroWhenUnmuted">
            Intro abspielen, wenn jemand seine Stummschaltung aufhebt
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="leaveAfterPlay" [(ngModel)]="serverSettings.leaveChannelAfterPlay" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="leaveAfterPlay">
            Bot soll nach dem Abspielen den Kanal verlassen
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="enableRecord" [(ngModel)]="serverSettings.recordVoice" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="enableRecord">
            Voice Record aktivieren
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Default Intro</label>
          <div class="input-group">
            <select class="form-control col-md-5" [(ngModel)]="serverSettings.defaultIntro" (change)="updateServerInfo(serverSettings)">
              <optgroup *ngFor="let item of sounds | keyvalue" [label]="item.key">
                <option *ngFor="let sound of sounds[item.key]" [value]="sound._id" [textContent]="sound.fileName"></option>
              </optgroup>
            </select>
            <a [routerLink]="[]" (click)="serverSettings.defaultIntro = ''; updateServerInfo(serverSettings)" title="Intro zurücksetzen">
              <i class="fas fa-undo"></i>
            </a>
          </div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="serverOutro" [(ngModel)]="serverSettings.playOutro" (change)="updateServerInfo(serverSettings)">
          <label class="form-check-label" for="serverOutro">
            Server Outro
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Default Outro</label>
          <div class="input-group">
            <select class="form-control col-md-5" [(ngModel)]="serverSettings.defaultOutro" (change)="updateServerInfo(serverSettings)">
              <optgroup *ngFor="let item of sounds | keyvalue" [label]="item.key">
                <option *ngFor="let sound of sounds[item.key]" [value]="sound._id" [textContent]="sound.fileName"></option>
              </optgroup>
            </select>
            <a [routerLink]="[]" (click)="serverSettings.defaultOutro = ''; updateServerInfo(serverSettings)" title="Outro zurücksetzen">
              <i class="fas fa-undo"></i>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
