<ng-container *ngIf="servers.length !== 0, else noServers">
    <div class="container" style="margin-top:50px">
        <div id="fetch" class="form-horizontal" >
            <h1 class="control-label">Server</h1>
            <div class="input-group">
                <select class="form-control" [(ngModel)]="selectedServerId">
                    <option *ngFor="let server of servers" [value]="server.id" [textContent]="server.name"></option>
                </select>
            </div>

            <h1>Sounds hochladen</h1>
            <div class="form-group">
                <label class="control-label">Wähle eine Kategorie aus</label>
                <div class="input-group">
                    <label class="btn btn-primary col-md-2 finger">
                        Auswahl der Datei(en) <input type="file" #inputFiles style="display:none" multiple accept="audio/*" (change)="submitFile(inputFiles.files); inputFiles.value = ''"/>
                    </label>
                    <input type="text"
                            placeholder="Pick one"
                            [(ngModel)]="selectedCategory"
                            matInput
                            [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let category of soundCategories" [value]="category.name" [textContent]="category.name"></mat-option>
                    </mat-autocomplete>
                </div>
            </div>
                
            <h1>Sounds abspielen</h1>
            <div class="form-group ">
                <label class="control-label">Channel auswählen</label>
                <select class="form-control" [(ngModel)]="selectedChannelId">
                    <option *ngFor="let channel of channels" [value]="channel.id" [textContent]="channel.name"></option>
                </select>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="joinUser" [(ngModel)]="joinUser">
                    <label class="form-check-label" for="joinUser">
                        Beim Benutzer joinen
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Laustärke (von 0,0-1)</label>
                <input class="form-control col-md-1" type="number" [(ngModel)]="volume" step="0.5" min="0" [max]="maxVolume">
            </div>
            
            <div class="form-group">
                <label class="control-label">Youtube URL</label>
                <div class="input-group">
                    <input class="form-control col-md-10" [(ngModel)]="youtubeUrl">
                    <button type="button" class="btn btn-primary col-md-2" (click)="playSound()">Abspielen</button>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="stopPlaying()">Abspielen stoppen</button>
            </div>
            <div class="form-group">
                <label class="control-label">Suche</label>
                <input class="form-control" [(ngModel)]="searchText">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" (click)="setCategoriesVisibility(true)">Alle Kategorien erweitern</button>
                <button type="button" class="btn btn-primary" (click)="setCategoriesVisibility(false)">Alle Kategorien schließen</button>
            </div>
        </div>
    </div>
    <div *ngFor="let category of filteredSoundCategories" class="col-md-8" style="margin: 0 auto">
        <h2 class="control-label" [textContent]="category.name"></h2>
        <button type="button" class="btn btn-primary" (click)="category.show = !category.show" style="width: 40px; height: 40px" [textContent]="category.show ? '-' : '+'"></button>
        <div class="table_scroll">
            <table class="table text-break" *ngIf="category.show">
                <thead>
                    <tr>
                        <th style="min-width: 300px">Name</th>
                        <th style="min-width: 300px">Benutzer</th>
                        <th style="min-width: 380px">Abspielen</th>
                        <th style="min-width: 270px">Aktion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sound of filteredSounds(category.name)">
                        <td [textContent]="sound.fileName"></td>
                        <td [textContent]="sound.username"></td>
                        <td>
                        <a *ngIf="!audioControl.src" [routerLink]="" (click)="playFile(sound._id, audioControl)" title="Laden">
                            <i class="fas fa-file-export"></i>
                        </a>
                        <audio controls #audioControl></audio>
                        </td>
                        <td>
                        <a [routerLink]="" *ngIf="isAdmin || isOwner" (click)="playSound(sound._id, true)" title="Abspielen ohne Unterbrechung">
                            <i class="fa fa-play"></i>
                        </a>
                        <a [routerLink]="" (click)="playSound(sound._id, false)" title="Abspielen">
                            <i class="far fa-play-circle"></i>
                        </a>
                        <a [routerLink]="" (click)="downloadSound(sound._id, audioControl)" title="Herunterladen">
                            <i class="fas fa-download"></i>
                        </a>
                        <a [routerLink]="" (click)="setIntro(sound._id)" title="Als Intro festlegen">
                            <i class="fas fa-save"></i>
                        </a>
                        <a [routerLink]="" (click)="deleteSound(sound._id, category.name)" title="Löschen" [class.disabled]="!(userId === sound.userId || isAdmin || isOwner)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>
<ng-template #noServers>
    <ng-container *ngIf="loading; then isLoading else empty"></ng-container>
    <ng-template #isLoading>Loading...</ng-template>
    <ng-template #empty>Du bist auf kan Server, wo da Bot a drauf is</ng-template>
</ng-template>