<div class="form-group">
    <label class="control-label">Server</label>
    <select class="form-control col-md-5" [(ngModel)]="selectedServerId" (change)="selectedServerChanged()">
        <option *ngFor="let server of servers" [value]="server.id" [textContent]="server.name"></option>
    </select>
</div>
<table class="table text-break" *ngIf="selectedServerId">
    <thead>
        <tr>
            <th>Datum & Zeit</th>
            <th>Dateiname</th>
            <th>Benutzername</th>
            <th>Aktion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let log of logs">
            <td [textContent]="log.time | date:'medium'"></td>
            <td [textContent]="log.file?.fileName"></td>
            <td [textContent]="log.username"></td>
            <td [textContent]="log.action"></td>
        </tr>
    </tbody>
</table>