<ng-container *ngIf="logs.length !== 0, else noLogs">
    <table class="table text-break">
        <thead>
            <tr>
                <th>Datum & Zeit</th>
                <th>Dateiname</th>
                <th>Benutzername</th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs">
                <td [textContent]="log.time | date:'medium'"></td>
                <td [textContent]="log.file?.fileName"></td>
                <td [textContent]="log.username"></td>
                <td [textContent]="log.action"></td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-template #noLogs>
    Du host kane Logs!
</ng-template>