<ng-container *ngIf="selectedServer$ | async as selectedServer">
    <ng-container *ngIf="users$ | async as users">
        <ng-container *ngIf="sounds$ | async as sounds">
            <div class="form-group col-md-5">
                <label class="control-label">Suche Benutzer</label>
                <input class="form-control" [(ngModel)]="searchText">
            </div>
            <table class="table text-break">
                <thead>
                    <tr>
                        <th>Benutzer ID</th>
                        <th>Benutzername</th>
                        <th>Intro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of getFilteredUsers(users)">
                        <td [textContent]="user.id"></td>
                        <td [textContent]="user.username"></td>
                        <td>
                            <div class="input-group">
                                <select class="form-control" [(ngModel)]="user.intros[selectedServer.id]" (change)="updateIntro(user, selectedServer.id, user.intros[selectedServer.id])" (focus)="cacheIntroBefore = user.intros[selectedServer.id]">
                                    <optgroup *ngFor="let item of sounds | keyvalue" [label]="item.key">
                                        <option *ngFor="let sound of sounds[item.key]" [value]="sound._id" [textContent]="sound.fileName"></option>
                                    </optgroup>
                                </select>
                                <a [routerLink]="[]" (click)="updateIntro(user, selectedServer.id, undefined)" (focus)="cacheIntroBefore = user.intros[selectedServer.id]" title="Intro zurücksetzen">
                                    <i class="fas fa-undo"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</ng-container>