<div class="mat-app-background">
  <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']">WillNeverBeFinishedBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="isLoggedIn">
          <li class="nav-item" *ngIf="servers$ | async as servers">
            <button class="dropdown-toggle" mat-button [matMenuTriggerFor]="menu" [textContent]="selectedServer?.name || 'Wöhl an Server aus'"></button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let server of getFilteredServers(servers, selectedServer)" [textContent]="server.name" (click)="selectedServer = server" ></button>
            </mat-menu>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" [routerLink]="['/']">Startseite</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['Account']">Account</a>
          </li>
          <li class="nav-item" routerLinkActive="active" *ngIf="hasAdminServers$ | async">
            <a class="nav-link" [routerLink]="['Admin']">Admin</a>
          </li>
        </ng-container>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [href]="addServerLink">Server hinzufügen</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
          <a class="nav-link" [routerLink]="['/', 'Login']" (click)="logout()" [textContent]="">Abmelden</a>
        </li>
      </ul>
    </div>
    <span class="navbar-text" *ngIf="isLoggedIn && userPayload">
      Der Vollpfostn <span style="font-weight: bold; color: blue" [textContent]="userPayload.username"></span> hots auf de Seitn gschofft!
    </span>
  </nav>
  <router-outlet></router-outlet>
</div>