{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "overrides": [
        {
            "files": ["index.ts", "./src/**/*.ts"],
            "parserOptions": {
                "sourceType": "module",
                "project": "./tsconfig.json",
                "tsconfigRootDir": "./"
            },
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "prettier"
            ],
            "rules": {
                "quotes": ["error", "single"],
                "indent": ["error", 4],
                "semi": "error",
                "object-curly-spacing":  ["error", "always"],
                "keyword-spacing": "error",
                "comma-spacing": "error",
                "space-before-blocks": "error",
                "curly": "error",
                "arrow-parens": "error",
                "@typescript-eslint/no-unnecessary-condition": "error",
                "@typescript-eslint/await-thenable": "error",
                "@typescript-eslint/consistent-type-imports": "error",
                "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }]
            }
        }
    ]
}