<h1 style="margin-bottom:50px">Cunt Panel</h1>
<ng-container *ngIf="selectedServer$ | async as selectedServer, else noServers">
    <ng-container *ngIf="sounds$ | async as sounds, else noSounds">
        <div class="form-horizontal">
            <div class="input-group">
                <label class="control-label">Intro</label>
                <div class="col-md-5">
                    <select class="form-control" [(ngModel)]="userIntro" (change)="updateIntro(selectedServer.id, userIntro)" (focus)="cacheIntroBefore = userIntro">
                        <optgroup *ngFor="let item of sounds | keyvalue" [label]="item.key">
                            <option *ngFor="let sound of sounds[item.key]" [value]="sound._id" [textContent]="sound.fileName"></option>
                        </optgroup>
                    </select>
                </div>
                <a [routerLink]="" (click)="updateIntro(selectedServer.id)" (focus)="cacheIntroBefore = userIntro" title="Intro zurücksetzen">
                    <i class="fas fa-undo"></i>
                </a>
            </div>
        </div>
    </ng-container>
</ng-container>
<ng-template #noServers>
    Wöhl an Server aus du Trottl!
</ng-template>
<ng-template #noSounds>
    Du host kane Sounds!
</ng-template>