<h1>Admin Panel</h1>
<mat-tab-group>
    <mat-tab label="Benutzer Intros" active>
        <div class="tab-container">
            <app-user-intros></app-user-intros>
        </div>
    </mat-tab>
    <mat-tab label="Logs">
        <div class="tab-container">
            <app-server-log-list></app-server-log-list>
        </div>
    </mat-tab>
    <mat-tab label="Server-Einstellungen">
        <div class="tab-container">
            <app-server-settings></app-server-settings>
        </div>
    </mat-tab>
</mat-tab-group>